<% layout('partials/layouts/base') -%>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <% include advertTable %>
            </div>

        </div>
    </section>

</div>
<!-- /.content-wrapper -->

